<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>REWE Digital Personal Promotions</title>
<link rel="stylesheet" href="css/main.css"></link>
<link rel="stylesheet" href="css/vendor/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
</head>

<body>
	<header>
		<img class="logo" src="img/logo.png" />
		<button id="clear" type="button" class="btn btn-warning pull-right"
			onclick="clearPersonalPromotions()">Clear</button>
	</header>
	<div id="promotions-container" class="text-center">
		<div class="row">
			<div th:each="promo : ${commonPromotions}"
				class="col-md-3 col-xs-12 text-center">
				<div class="thumbnail product">
					<h5 class="product-title" th:text="${promo.product.name}"></h5>
					<img th:src="@{img/{imageName}(imageName=${promo.product.url})}"
						th:alt="${promo.product.name}" />
					<div th:text="${promo.description}" class="description"></div>
					<div class="prices">
						<div class="pricebox">
							<div class="discount">
								<strong th:text="${promo.discount} + '&#37; gespart'"></strong>
							</div>
							<div class="price">
								<small
									th:text="@{&euro; {price}(price=${promo.discountedPrice})}"></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="personal-promotions" class="row"></div>
	</div>
	<div tabindex="1" id="code" class="scanner"
		onkeypress="collectKey(event);"></div>
	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>